@import 'normalize.css/normalize.css'

$main-text = #333
$grey = #858585
$light-bg = #F7F7F7
$accent-color = #FFD93E


html
    color $main-text
    font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    font-size 15px
    line-height 22px
    background-color white

body
    margin 50px

.add-root-item
    padding 8px 16px
    border-radius 2px
    border 1px lightgrey solid
    background white

.item

    &__input
        margin-right 8px
        padding 2px 4px
        border none
        border-bottom 2px transparent solid
        &:focus
            outline none
            border-color blue

    &__btn
        padding 0
        border none
        background none
        outline none
        cursor pointer
        & + &
            margin-left 4px

    &__id
        margin-left 8px
        padding 2px 6px
        border-radius 2px
        background cornflowerblue
        font-size 12px
        font-weight bold
        color white

    &__children
        margin-left -13px
        border-left 1px lightgrey dotted
        & > .item:first-child
            margin-top 8px
        & > .item:last-child
            margin-bottom 24px

    & + &
        margin-top 6px

.hidden
    display none
